<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Set Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HTML5 implementation of the Set Game from Set Enterprises.">
    <meta name="author" content="Andrew Tongen">

    <meta property="og:title" content="Set Game"/>
    <meta property="og:type" content="game"/>
    <meta property="og:url" content="<%= ENV['URL'] %>"/>
    <meta property="og:image" content="<%= ENV['URL'] %>/assets/images/set.png"/>
    <meta property="og:site_name" content="Set Game"/>
    <meta property="og:description" content="HTML5 implementation of the Set Game from Set Enterprises."/>
    <% if ENV['FB_ADMINS'].present? %>
    <meta property="fb:admins" content="<%= ENV['FB_ADMINS'] %>"/>
    <% end %>
    <% if ENV['GA_TRACKER'].present? %>
    <meta property="ga_tracker" content="<%= ENV['GA_TRACKER'] %>"/>
    <% end %>

    <% if ENV['COMPILED'] == 'true' %>
      <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.css">
      <link type="text/css" rel="stylesheet" href="/assets/css/app-built.css">
      <script data-main="/assets/js/main-built" src="/assets/js/require.js"></script>
    <% else %>
      <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.css">
      <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
      <script>
        var require = { urlArgs: "bust=" +  (new Date()).getTime() };
      </script>
      <script data-main="/assets/js/main" src="/assets/js/require.js"></script>
    <% end %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body <%= "data-view=\"game\" data-game-id=\"#{@game.id}\"" if @game %> <%= "data-player-id=\"#{@player.id}\"" if @player %>>
    <div id="fb-root"></div>
    <%= yield %>
  </body>
</html>
