<body data-view="game" data-game-id="<%= @game.id %>" data-player-id="<%= @player.id %>">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand game-name" href="<%= CONFIG['url'] + '/games/' + @game.id.to_s %>"><%= @game.name.value %></a>
        <div class="nav-collapse collapse">
          <p id="player" class="navbar-text pull-right">
            Welcome <a href="#" id="player-btn"><strong class="player-name"><%= get_player.name.value %></strong></a>
          </p>
          <ul class="nav">
            <li><a href="#">Pass code: <%= @game.password.value %></a></li>
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div id="comments">
          <div class="input-append">
            <input class="span2" id="comment" type="text">
            <button class="btn" id="comment-btn" type="button">Say!</button>
          </div>
          <div class="well">
            <ul class="comment-list"></ul>
          </ul>
        </div>
        <div id="score-board">
          <div class="well">
            <ul class="score-board-list"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="hero-unit">
        <canvas id="board" width="648" height="756">
          <p>Oops, your browser doesn't support the canvas element. Please upgrade to Chrome.</p>
        </canvas>
      </div>
    </div>
  </div>
  <%= erb :footer %>
  <div id="modal"></div>
</body>
