<!DOCTYPE html>
<html>
<head>
  <title>Real-Time</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/json2.js"></script>
  <script src="/assets/js/jquery-1.8.1.min.js"></script>
  <script src="/assets/js/jquery.websocket-0.0.1.js"></script>
  <script src="/assets/js/app.js"></script>
</head>
<body>
<h1>Real-Time</h1>
<div id="game">
    <table>
        <tr>
            <td id="0"><%= @game.board[0] %></td>
            <td id="1"><%= @game.board[1] %></td>
            <td id="2"><%= @game.board[2] %></td>
        </tr>
        <tr>
            <td id="3"><%= @game.board[3] %></td>
            <td id="4"><%= @game.board[4] %></td>
            <td id="5"><%= @game.board[5] %></td>
        </tr>
        <tr>
            <td id="6"><%= @game.board[6] %></td>
            <td id="7"><%= @game.board[7] %></td>
            <td id="8"><%= @game.board[8] %></td>
        </tr>
        <tr>
            <td id="9"><%= @game.board[9] %></td>
            <td id="10"><%= @game.board[10] %></td>
            <td id="11"><%= @game.board[11] %></td>
        </tr>
    </table>
</div>
<input type="text" id="input" value="" placeholder='say something...' />
<input type='submit' id="button" value='Submit' />
<div id="msgs"></div>
</body>
</html>
